# === DATABASE ===
POSTGRES_HOST=localhost
POSTGRES_HOST_PORT=5433
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# === APPLICATION ===
DB_NAME=lms
DB_USER=lms_user
DB_PASSWORD=12345678
DB_MIGRATOR_USER=lms_migration_user
DB_MIGRATOR_PASSWORD=12345678
APP_PORT=8085
